{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('build/css/sign.css') }}">
{% endblock %}

{% block body %}
    <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2 col-xs-12">
        <div class="card border-none">
            <div class="card-block">
                <p class="mt-4 lead text-center">
                    Sign up to access your Authority account
                </p>
                <div class="mt-4">
                    {{ form_start(form, {'attr': {'class': 'form-signin'}} ) }}
                    <div class="form-group">
                        {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Enter email'}}) }}
                        {{ form_errors(form.email) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Enter password'}}) }}
                        {{ form_errors(form.plainPassword.first) }}
                    </div>
                    <div class="form-group">
                        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm password'}}) }}
                    </div>
                    <button type="submit" class="btn btn-primary btn-lg btn-block" formnovalidate>Sign up</button>
                    {{ form_end(form) }}
                    <div class="clearfix"></div>
                    <p class="content-divider center mt-4"></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
